{% extends 'email/base.html.twig' %}

{% block title %}{{ 'email.team_invitation.title'|trans({'%team%': team.name}) }}{% endblock %}

{% block content %}
    <p>{{ 'email.team_invitation.greeting'|trans }},</p>
    
    <p>{{ 'email.team_invitation.message'|trans({'%team%': team.name})|raw }}</p>
    
    <div style="text-align: center;">
        <a href="{{ url('app_invitation_accept', {'token': invitation.token}) }}" class="button">{{ 'email.team_invitation.button'|trans }}</a>
    </div>
    
    <p>{{ 'email.team_invitation.expiry'|trans }}</p>
    
    <p>{{ 'email.team_invitation.ignore'|trans }}</p>
{% endblock %}
